<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <h2>Shipping Cost:</h2>
        <h3>Your <%= type %> weighs <%= weight %> and will cost <%= shippingCost %> to ship.</h3>
    </body>
</html>